* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
  border: 3px solid blue;
  height: 200px;
  width: 200px;
}
.box2 {
  border: 3px solid red;
  height: 200px;
  width: 200px;
}
.box3 {
  border: 3px solid green;
  height: 200px;
  width: 200px;
}

.container1 {
    border: 3px solid blue;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .ul1{
    display: inline-flex;
  }
  
  .container2 {
    border: 3px solid red;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .ul2{
    display: inline-block;
  }
.float{
  width: 500px;
  height: 500px;
  background-color: blue;
}
.box11{
  width: 100px;
  height: 100px;
  background-color: green;
  float: right;
}
.box22{
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
}
